<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tasks">
      <ion-icon name="albums"></ion-icon>
      Mis Tareas
    </ion-tab-button>
    <ion-tab-button tab="new-task">
      <ion-icon name="add-circle"></ion-icon>
      Crear Tarea
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="bookmark"></ion-icon>
      Crear Tag
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Buscar
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
