.trash-button {
  --background: #f8d7da;
  --color: #721c24;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 1;
}

.search-bar {
  --background: #f2f2f2;
  --color: #333;
  border-radius: 8px;
  margin: 10px 0;
  grid-column: span 3;

  ion-icon {
    color: #666;
    font-size: 18px;
    padding-left: 4px;
  }

  ion-input {
    padding-left: 8px;
  }
}

.custom-button {
  --background: var(--primary-color-dark);

  height: 44px;
  width: 54px;

  align-self: center;
  justify-self: end;
  border-radius: 0.5rem;

  &.no-justify {
    justify-self: auto;
  }

  ion-icon {
    font-size: 25px;
    color: var(--base-color);
  }
}
