<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mis Tareas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="grid-container">
    <ion-item class="search-bar">
      <ion-icon name="search" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Buscar..." clearInput></ion-input>
    </ion-item>

    <ion-button
      class="custom-button"
      [disabled]="!hasCheckedTasks()"
      (click)="deleteTasks()"
    >
      <ion-icon name="trash"></ion-icon>
    </ion-button>

    @for (todo of todos(); track todo.id) {
    <app-task-item
      [title]="todo.title"
      [checked]="!!todo.completed"
      (checkedChange)="toggleTodoChecked(todo.id, $event)"
    ></app-task-item>
    }
  </div>
</ion-content>
