<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ config.header}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="grid-container">

    @if (filteredTasks().length === 0) {
      <div class="empty-tasks">
        <ion-text color="medium">
          <h2>{{ config.emptyTasks.description }}</h2>
        </ion-text>
      </div>
    } 


    @if (filteredTasks().length > 0) {
      <ion-item class="search-bar">
        <ion-icon
          [name]="config.searchBar.icon.name"
          [slot]="config.searchBar.icon.slot"
        ></ion-icon>

        <ion-input
          [type]="config.searchBar.input.type"
          [placeholder]="config.searchBar.input.placeholder"
          clearInput
          (ionInput)="onSearchCategory($event)"
        ></ion-input>
      </ion-item>

      <app-icon-button
        class="trash-button"
        [disabled]="!hasCheckedTasks()"
        (clicked)="deleteTasks()"
      ></app-icon-button>   
    }
    
    @for (task of filteredTasks(); track task.id) {
    <app-task-item
      [task]="task"
      [checked]="!!task.completed"
      (checkedChange)="toggleTodoChecked(task.id, $event)"
      (editChange)="onEditTask($event)"
    ></app-task-item>
    }
  </div>
</ion-content>
