ion-checkbox.custom-checkbox {
  --size: 20px;
  --checkbox-background-checked: var(--ion-color-primary);
  --checkbox-border-color: var(--ion-color-primary);
  --checkbox-background: var(--base-color);
  --checkmark-color: var(--base-color);
}
