ion-checkbox.custom-checkbox {
  --size: 24px;
  --checkbox-background-checked: var(--ion-color-secondary-tint);
  --checkbox-border-color: var(--ion-color-secondary-tint);
  --checkbox-background: var(--base-color);
  --checkmark-color: var(--base-color);
}
