<ion-header translucent>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  @for (category of categories(); track category.id) {
  <ion-chip>
    <ion-label>{{ category.title }}</ion-label>
    <ion-icon
      name="close-outline"
      (click)="deleteSelected(category.id)"
    ></ion-icon>
  </ion-chip>
  }

  <form (ngSubmit)="addCategory()" [formGroup]="form">
    <ion-item>
      <ion-input
        formControlName="title"
        label="Titulo"
        placeholder="Ej.: Deportes"
      ></ion-input>
    </ion-item>

    <ion-button
      class="submit-button"
      expand="block"
      type="submit"
      [disabled]="form.invalid"
    >
      Guardar
    </ion-button>
  </form>
</ion-content>
