.submit-button {
  --background: var(--ion-color-tertiary-contrast);
  --border-radius: 0.5rem;
  --color: var(--base-color);
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

ion-chip {
  --background: var(--ion-color-secondary-fade);
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.option-button {
  background-color: none;
  --color: var(--ion-color-tertiary-contrast);
  --background: var(--base-color);
  --box-shadow: none;
  --padding-start: 0;
  --padding-end: 0;

  ion-icon {
    font-size: 25px;
  }
}
