:root {
  --base-color: #fafafa;
  --primary-color-light: #96c0b7;
  --primary-color-dark: #16324f;
  --secondary-color: #12664f;
  --accent-color: #ffec51;

  --ion-background-color: var(--base-color);
  --ion-text-color: var(--primary-color-dark);
}
