<ion-header>
  <ion-toolbar>
    <ion-title>{{ header }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="section-block">
      <ion-label class="form-label">
        <strong>{{ config.titles.task }}</strong>
      </ion-label>
      <ion-item lines="none">
        <ion-input
          class="input-task"
          [formControlName]="config.taskControl.formControlName"
          [label]="config.taskControl.label"
          [placeholder]="config.taskControl.placeholder"
        ></ion-input>
      </ion-item>
    </div>

    <div class="section-block">
      <ion-label class="form-label">
        <strong>{{ config.titles.categories }}</strong>
      </ion-label>

      @if (categories().length === 0) {
      <ion-text color="medium"> {{config.emptyTasks.description}} </ion-text>
      }

      <ion-list>
        @for (category of categories(); track category.id) {
        <ion-item lines="none">
          <ion-checkbox
            [slot]="config.checkbox.slot"
            [checked]="selectedCategoryIds().has(category.id)"
            (ionChange)="toggleCategory(category.id, $event.detail.checked)"
          ></ion-checkbox>
          <ion-label>{{ category.title }}</ion-label>
        </ion-item>
        }
      </ion-list>
    </div>

    <ion-button
      class="primary-button button-wrapper"
      [expand]="config.button.expand"
      [type]="config.button.type"
      [disabled]="form.invalid"
    >
      {{ config.button.text }}
    </ion-button>
  </form>
</ion-content>
