<ion-header>
  <ion-toolbar>
    <ion-title>{{ this.header }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submitForm()" [formGroup]="form">
    <ion-item>
      <ion-input
        formControlName="title"
        label="Titulo"
        placeholder="Ej.: Revisar Emails"
      ></ion-input>
    </ion-item>

    <ion-button
      class="custom-button"
      expand="block"
      type="submit"
      [disabled]="form.invalid"
    >
      Guardar
    </ion-button>
  </form>
</ion-content>
