.input-task {
  --background: var(--base-color);
  --color: var(--ion-color-primary);
  --placeholder-color: var(--ion-color-primary);
  border: none;
  border-radius: 8px;
}

.primary-button {
  --background: var(--ion-color-tertiary-contrast);
  --border-radius: 0.5rem;
  --color: var(--base-color);
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

.button-wrapper {
  padding: 0.5rem 0;
}

.section-block {
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  display: block;
}
