<ng-container>
  <div class="task-item__wrapper">
    <div class="task-item__header">
      <ion-icon
        class="task-item__icon"
        name="create-outline"
        (click)="onUpdate()"
      ></ion-icon>
      <p class="task-item__title">{{ task()?.title }}</p>
      <app-checkbox
        [checked]="checked()"
        (checkedChange)="onCheckedChange($event)"
      />
    </div>

    <div class="task-item__categories">
      @for (category of task()?.categories; track category.id) {
      <ion-chip>{{ category.title }}</ion-chip>
      }
    </div>
  </div>
</ng-container>
